---
import ProviderAnimations from '@/components/layout/ProviderAnimations.astro'
import ViewTransitions from 'astro/components/ViewTransitions.astro'
const staticCmsVersion = '4.3.0'
import config from '@/site.config'
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SALO CMS PWA</title>
    <link
      rel="stylesheet"
      href={`https://unpkg.com/@staticcms/app@^${staticCmsVersion}/dist/main.css`}
    />
    <ProviderAnimations />
    <ViewTransitions />
  </head>
  <body>
    <!-- Include the script that builds the page and powers StaticJs CMS -->
    <script
    is:inline
    src={`https://unpkg.com/@staticcms/app@^${staticCmsVersion}/dist/static-cms-app.js`}
  ></script>
    <!-- Netlify Identity Widget -->
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <script is:inline define:vars={{
        config,
        }}>


      window.CMS.init({ config });
    </script>
  </body>
</html>
